<h2>Welcome, <%= @user.name %></h2>

<form action="/logout">
    <input type="submit" value="Logout">
</form><br>

<form action="/deals/new">
    <input type="submit" value="Add Deal">
</form><br>

<h2>Deals</h2>
<% @user.deals.each do |d| %>
  
  <a href="/deals/<%= d.id %>"><h4><%= d.name %></h4></a>

<% end %>